{% extends 'base.html' %}

{% block header %}
    <h2>Change product</h2>

    {% endblock %}


{% block urls %}
    <div>
        <a href="{% url 'shop' %}">Shop</a>
    <br>
        <a href="{% url 'add_product' %}">Add new product</a>

    </div>
{% endblock %}

 {% block content %}
     <div>
     <h1> Change product </h1><br>
         <form method='post' action="{% url 'change_product' product.id %}" enctype="multipart/form-data">
             {% csrf_token %}

             {{ form.as_p }}

         <input type="submit" value="Change product">
         </form>

     </div>
    {% endblock %}
